body {
	font-family: Poppins, Arial, sans-serif;
	background: #f5f5dc;
	margin: 0;
	color: #4b3621;
}

nav {
	top: 0;
	padding: 5px 15px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #333333;
	color: #f5f5dc;
	position: fixed;
	z-index: 99;
}

.right-nav {
	margin-right: 30px;
}

.right-nav a {
	color: #f5f5dc;
	padding: 5px 10px;
	border-radius: 5px;
	letter-spacing: 3px;
	background: #6b8e92;
	text-decoration: none;
}

.container {
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
}

.book-detail {
	flex: 1;
	top: 100px;
	margin: 20px;
	max-width: 300px;
	text-align: center;
	align-self: flex-start;
	position: sticky;
}

.cover {
	display: flex;
	justify-content: center;
}

.add-review button {
	margin: 10px 0;
	padding: 8px 10px;
	border: none;
	border-radius: 5px;
	background-color: #6b8e92;
}

.add-review a {
	color: #f5f5dc;
	text-decoration: none;
}

.book-review {
	flex: 2;
	margin: 100px 20px 20px 20px;
	width: 70%;
}

.user-review {
	padding: 10px 30px;
	margin-bottom: 20px;
	border: 1px solid black;
	border-radius: 10px;
	text-align: justify;
}

.user-review h4 {
	margin-top: -20px;
}

footer {
	background-color: #333;
	color: #f4f4f4;
	padding: 30px 50px;
}

.footer-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 1000px;
	margin: 0 auto;
	gap: 20px;
}

.footer-section {
	flex: 1;
	min-width: 200px;
}

.footer-links,
.footer-social {
	flex: 1;
	min-width: 200px;
}

.footer-section h3,
.footer-links h4,
.footer-social h4 {
	text-align: center;
	margin-bottom: 10px;
	color: #ffcc66;
}

.footer-section p {
	font-size: 14px;
	text-align: justify;
	line-height: 1.5;
}

.footer-links ul,
.footer-social ul {
	text-align: center;
	list-style: none;
	padding: 0;
}

.footer-links ul li,
.footer-social ul li {
	margin: 5px 0;
}

.footer-links a,
.footer-social a {
	color: #f4f4f4;
	text-decoration: none;
	transition: color 0.3s ease;
}

.footer-links a:hover,
.footer-social a:hover {
	color: #ffcc66;
}

.footer-bottom {
	text-align: center;
	margin-top: 20px;
	border-top: 1px solid #555;
	padding-top: 10px;
	font-size: 12px;
	opacity: 0.8;
}
