body {
	font-family: Poppins, Arial, sans-serif;
	background: #f5f5dc;
	margin: 0;
	color: #4b3621;
}

nav {
	top: 0;
	padding: 5px 15px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #333333;
	color: #f5f5dc;
	position: fixed;
}

.right-nav {
	margin-right: 30px;
}

.right-nav a {
	color: #f5f5dc;
	padding: 5px 10px;
	border-radius: 5px;
	letter-spacing: 3px;
	background: #6b8e92;
	text-decoration: none;
}

.header {
	padding-top: 80px;
	text-align: center;
	text-transform: uppercase;
}

.list-books {
	margin: 0 auto;
	padding: 20px;
	gap: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.book {
	min-width: 280px;
	max-width: 400px;
	padding: 15px;
	flex: 1 1 200px;
	border-radius: 20px;
	border: 2px solid black;
}

.book-cover {
	display: flex;
	justify-content: center;
}

.book-cover img {
	width: 55%;
	min-width: 150px;
	max-width: 200px;
	margin: 0 auto;
	border-radius: 10px;
}

.book-title {
	text-align: center;
	font-size: 25px;
}

.book-author {
	margin-top: -20px;
	text-decoration: none;
	text-align: center;
}

.book-review {
	margin-top: -20px;
	text-align: center;
	align-items: center;
}

.book-description {
	text-align: justify;
}

.add-button {
	margin: 0 30px;
	display: flex;
	justify-content: end;
}

.add-button button {
	padding: 10px;
	border-radius: 5px;
	border: none;
	background-color: #6b8e92;
}

.add-button a {
	text-decoration: none;
	color: white;
}

.update-button {
	background-color: #6b8e92;
}

.delete-button {
	background: #e74c3c;
}

.book-button {
	margin: 0 5px 5px 0;
	border: none;
	display: flex;
	justify-content: end;
}

.book-button button {
	padding: 10px 5px;
	margin: 0 0 0 10px;
	border-radius: 5px;
	border: none;
}

.book-button a {
	margin: 8px;
	border-radius: 8px;
	text-decoration: none;
	color: #f5f5dc;
}

footer {
	background-color: #333;
	color: #f4f4f4;
	padding: 30px 50px;
}

.footer-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 1000px;
	margin: 0 auto;
	gap: 20px;
}

.footer-section {
	flex: 1;
	min-width: 200px;
}

.footer-links,
.footer-social {
	flex: 1;
	min-width: 200px;
}

.footer-section h3,
.footer-links h4,
.footer-social h4 {
	text-align: center;
	margin-bottom: 10px;
	color: #ffcc66;
}

.footer-section p {
	font-size: 14px;
	text-align: justify;
	line-height: 1.5;
}

.footer-links ul,
.footer-social ul {
	text-align: center;
	list-style: none;
	padding: 0;
}

.footer-links ul li,
.footer-social ul li {
	margin: 5px 0;
}

.footer-links a,
.footer-social a {
	color: #f4f4f4;
	text-decoration: none;
	transition: color 0.3s ease;
}

.footer-links a:hover,
.footer-social a:hover {
	color: #ffcc66;
}

.footer-bottom {
	text-align: center;
	margin-top: 20px;
	border-top: 1px solid #555;
	padding-top: 10px;
	font-size: 12px;
	opacity: 0.8;
}
